@media (max-width: 600px) {
  header {
    flex-wrap: wrap;
  }
}

#subscription {
	display: flex;
}

#option1, #option2, #option3 {
	width: 50%;
	height: 50%;
}

p {
	font-family: 'Roboto', sans-serif;
}

body {
	background-color: #b3daff
}
