@media (max-width: 700px) {
  header {
    flex-wrap: wrap;
  }

  #video {
  	width: 300px;
  }
}

@media (min-width: 1000px) {
	#video {
		width: 900px;
	}
}

.title-text {
	font-size: 23px;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	color: #004d99;
}

#video-section {
	/*max-width: 900px;*/
	text-align: center;
}

#video {
	display:inline-block;
}

#intro-paragraph {
	font-style: italic;
	font-size: 20px;
}

#subscription {
	display: flex;
}

#option1, #option2, #option3 {
	width: 50%;
	height: 50%;
		/*border: 1px solid black;*/
		text-align: center;
		background-color: #80bbff;
		margin: 10px 10px;
}

.sub-title {
	font-size: 20px;
	color: #004d99;
	font-weight: 700;
}

.sub-price {
	font-size: 18px;
	font-weight: 700;
}

#learn-more {
	margin: auto;
	width: 50%;
}

#email {
	width: 98%;
	height: 30px;
	margin-bottom: 20px;
	font-family: 'Roboto', sans-serif;
}

.button {
	width: 100%;
	height: 40px;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	color: #ffffff;
	background-color: #009999;
	border: none;
}

p {
	font-family: 'Roboto', sans-serif;
}

body {
	background-color: #b3daff;
	margin-left: 40px;
	margin-right: 40px;
}

/*Help for Creating Sticky Navbar: https://www.w3schools.com/howto/howto_js_navbar_sticky.asp*/
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}